:root {
    --azul-petroleo: #00565f;
}

body {
    background-color: var(--azul-petroleo);
}
#corpo-relogio {
    background-color: green;
    width: 575px;
    height: 575px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    
}

#corpo-interno-relogio {
    background-color: #ccc;
    width: 506px;
    height: 506px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.traco-hora {
    background-color: black;
    width: 18px;
    height: 464px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#traco-hora-2 {
    transform: rotate(30deg);
}

#traco-hora-3 {
    transform: rotate(60deg);
}

#traco-hora-4 {
    transform: rotate(90deg);
}

#traco-hora-5 {
    transform: rotate(120deg);
}

#traco-hora-6 {
    transform: rotate(150deg);
}

#tampa-relogio {
    background-color: #ccc;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#ponteiro-horas {
    background-color: black;
    width: 18px;
    height: 195px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 0% 50%);
}

#ponteiro-minutos {
    background-color: black;
    width: 13px;
    height: 312px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 0% 50%);
}

#ponteiro-segundos {
    background-color: red;
    width: 13px;
    height: 312px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    clip-path: polygon(0% 50%, 40% 0%, 60% 0%, 100% 50%);
}

.container {
    position: absolute;
    width: 720px;
    height: 800px;
    margin-top: 20%;
}