---

---

body
  display: flex
  justify-content: center
  flex-wrap: wrap

.centralizado
  position: absolute
  top: 100px
  margin: auto
  padding: 6px
  max-width: 400px
  border: inset gray
  border-radius: 10px
  background-color: purple

button
  display: inline-block
  background-color: grey
  border: inset black
  border-radius: 10px
